
/* .lights{
     display: block; 
    opacity: 0.5;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}  */

/* .junaid{
    display: block;
} */

/* .junaid{
    height: 100%; 
    width: 100%; 
    object-fit: contain
} */

/* .container {
  margin: 0 auto;
  max-height: 8%;
  padding: 10px;
  position: relative; 
  overflow: hidden;
} */

 .junaid {
    /* position:block; */
    max-width: 100%;
    bottom:0%;
    /* left:10%;
    top: -30%;; */
    }

    /* .lights{
        max-width: 90%;
        left:50%;
    } */

/* .junaid{
    display: block;
    max-height: 10%;
} */

/* .container{
    margin: 0 auto;
    max-width: 650px;
    padding: 10px;
    position: relative;
} */

.container {
    bottom: 0%;
    left:30vw;; 
    /* margin: 0 auto; */
    width: 80vh;
    /* padding: 10px; */
    position: relative; 
}

@media only screen and (max-width: 600px) {
    .container {
    bottom: 0%;
    left:0vw;; 
    /* margin: 0 auto; */
    width: 60vh;
    /* padding: 10px; */
    position: relative; 
    }
}



