
/* .lights{
     display: block; 
    opacity: 0.5;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    object-fit: contain;
}  */

/* .junaid{
    display: block;
} */

/* .junaid{
    height: 100%; 
    width: 100%; 
    object-fit: contain
} */

/* .container {
  margin: 0 auto;
  max-height: 8%;
  padding: 10px;
  position: relative; 
  overflow: hidden;
} */

 .junaid {
    /* position:block; */
    max-width: 100%;
    bottom:0%;
    /* left:10%;
    top: -30%;; */
    }

    .lights{
        max-width: 100%;
    }

    /* .lights{
        max-width: 90%;
        left:50%;
    } */

/* .junaid{
    display: block;
    max-height: 10%;
} */

/* .container{
    margin: 0 auto;
    max-width: 650px;
    padding: 10px;
    position: relative;
} */

.header-container{
    top:0px;
    margin: 0 auto;
    max-width: 10%;
    min-width: 5%;
    z-index: 999 !important;
   /* 
        width: 12px;
    min-height: 12px;
    max-height: auto;
    left:50%;
    margin: 3px;
    padding: 3px;
    max-width: 5px;
    max-height: 5px;
    z-index: 9999;
     left: 50%;
    position: absolute;
    left: 50%;
     */
}
.logo{
    width: 100%; 
    /* 
    display: inline;
    text-align: center;*/
}
.footer-container{
    bottom:0px;
    margin: 0 auto;
    z-index: 999 !important;
}

.container {
    bottom: 0%;
    left:30vw;; 
    /* margin: 0 auto; */
    width: 80vh;
    /* padding: 10px; */
    position: relative; 
}

@media only screen and (max-width: 600px) {
    .container {
    bottom: 0%;
    left:0vw;; 
    /* margin: 0 auto; */
    width: 60vh;
    /* padding: 10px; */
    position: relative; 
    }

    .lights{
        max-width: 90%;
    }
}



